.ztest {
  border: 3px solid #000;
  margin: 2px;
  padding: 1;
}
/*--------remove above blocks afrter finished---------*/
body {
  background-color: white;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

#left-sidebar {
  width: 25%;
  float: right;
}

#content {
  border-color: green;
  padding-right: 28%;
}

#content div {
  border-color: lightgreen;
}
#content-wrap {
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
}

.page-block {
  background-color: white;
  padding: 24px;
  margin: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

#poza_cv {
  width: 152px;
  border-radius: 50%;
  float: left;
  box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, 0.15),
    0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
  box-sizing: content-box;
  border: 2px solid grey;
}
#fundal-linkedin {
  width: 100%;
}

#moto {
  color: darkgreen;
}
#top-menu-bar {
  text-align: center;
  color: #fff;
  background-color: #334455;
}

#top-menu-bar li {
  display: inline;
  margin: 0;
  padding: 0;
}

#top-menu-bar a {
  text-decoration: none;
  margin: 2px 0 2px 0;
  padding: 5px 15px 5px 15px;
  display: inline-block;
  color: #fff;
}

#top-menu-bar a:visited {
  color: #ffffff;
}
#top-menu-bar a:hover {
  color: #334455;
  background-color: #ffffff;
}

table {
  width: 200px;
  text-align: center;
}
