body {
  background-color: lightblue;
  padding: 10px;
}
div {
  background-color: rgb(252, 250, 236);
  padding: 10px;
  margin: 10px;
  border: 1px ridge rgb(20, 83, 104);
  border-radius: 8px;
}
#poza_cv {
  width: 150px;
  border: 1px ridge rgb(20, 83, 104);
  border-radius: 8px;
}
#moto {
  color: darkgreen;
  margin: 10px;
}
.favorite {
  color: blue;
}

table {
  width: 200px;
  text-align: center;
}
